{% if categories is defined %}
    <h4>Категории</h4>
    <ul>
    {% for category in categories %}
        <li>
            <a href="{{ path('news_category', {'category':category.id}) }}">{{ category.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}