{% extends 'base.html.twig' %}

{% block title %}
    Новости
{% endblock %}



{% block content %}
    <div class="col-3 sidebar">
        {{ render(controller(
            'App\\Controller\\IndexController::ShowCategoriesAction'
        )) }}
        {{ render(controller(
            'App\\Controller\\IndexController::ShowTagsAction', {'category':category}
        )) }}
    </div>
    <div class="col-9">
        {% if message is defined %}
            <p style="color: red">{{ message }}</p>
        {% endif %}
        <h1>Новости</h1>

        {% if news is defined %}
            <div style="background: yellow; padding: 20px;">
                {% for task in news %}
                    {% if task.importantTask %}
                        <br/>
                        <div class="news_item">
                            <div class="info">
                                <p class="category"><b>Категория:</b> {{ task.category.title }}</p>
                                <p class="author"><b>Автор:</b> {{ task.author.username }}</p>
                                <p class="тэги"><b>Тэги:</b> {% for tag in task.tags %}{{ tag.title }}, {% endfor %}</p>
                            </div>
                            <div class="date">
                                <p class="create"><em>Дата создания: {{ task.createDate | date('d.m.Y') }}</em></p>
                                <p class="public"><em>Дата публикации: {{ task.publicDate | date('d.m.Y') }}</em></p>
                            </div>
                            <p>{{ task.text }}</p>
                            <div>
                                <a href="{{ path('news_item', {'id':task.id}) }}">Подробнее...</a>
                            </div>
                        </div>
                        {% if user.id is defined %}
                            {{ render(controller(
                                'App\\Controller\\IndexController::ShowLikeButtons', {'task':task.id}
                            )) }}
                        {% endif %}
                        <br/>
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
            {% for task in news %}
                {% if not task.importantTask %}
                    <br/>
                    <div class="news_item">
                        <div class="info">
                            <p class="category"><b>Категория:</b> {{ task.category.title }}</p>
                            <p class="author"><b>Автор:</b> {{ task.author.username }}</p>
                            <p class="тэги"><b>Тэги:</b> {% for tag in task.tags %}{{ tag.title }}, {% endfor %}</p>
                        </div>
                        <div class="date">
                            <p class="create"><em>Дата создания: {{ task.createDate | date('d.m.Y') }}</em></p>
                            <p class="public"><em>Дата публикации: {{ task.publicDate | date('d.m.Y') }}</em></p>
                        </div>
                        <p>{{ task.text }}</p>
                        <div>
                            <a href="{{ path('news_item', {'id':task.id}) }}">Подробнее...</a>
                        </div>
                    </div>
                    {% if user.id is defined %}
                        {{ render(controller(
                            'App\\Controller\\IndexController::ShowLikeButtons', {'task':task.id}
                        )) }}
                    {% endif %}
                    <br/>
                    <hr>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if pages is defined %}
            {% for page in pages%}
                {% if category is defined %}
                    <a href="{{ path('news', {'page':page, 'limit':5, 'category':category}) }}">{{ page }}</a>
                {% else %}
                    <a href="{{ path('news', {'page':page, 'limit':5}) }}">{{ page }}</a>
                {% endif %}|
            {% endfor %}
        {% endif %}

        {% if user.id is defined %}
            <br/>
            <br/>
            <br/>
            <h4>Добавить новость</h4>
            <br/>
            <br/>
            {{ form(form) }}
            <br/>
            <br/>
            <br/>
        {% endif %}
        <br/>
        <br/>
    </div>

{% endblock %}