{% if  likes is defined%}

<br/>
<br/>
<div class="like_buttons">
    <span class="border p-2">{{ likes.quality }} </span>
    <a href="{% if likes.quality_active %}{{ path('make_like', {'task':task, 'type':'quality', 'val':1}) }}{% else %}#{% endif %}" class="btn btn-dark m-1">Качественно</a>
    <a href="{% if likes.quality_active %}{{ path('make_like', {'task':task, 'type':'quality', 'val':-1}) }}{% else %}#{% endif %}" class="btn btn-dark m-1">Некачественно</a>
    <br/>
    <span class="border p-2">{{ likes.actuality }} </span>
    <a href="{% if likes.actuality_active %}{{ path('make_like', {'task':task, 'type':'actuality', 'val':1}) }}{% else %}#{% endif %}" class="btn btn-dark m-1">Актуально</a>
    <a href="{% if likes.actuality_active %}{{ path('make_like', {'task':task, 'type':'actuality', 'val':-1}) }}{% else %}#{% endif %}" class="btn btn-dark m-1">Не актуально</a>
    <br/>
    <span class="border p-2">{{ likes.happiness }} </span>
    <a href="{% if likes.happiness_active %}{{ path('make_like', {'task':task, 'type':'happiness', 'val':1}) }}{% else %}#{% endif %}" class="btn btn-dark m-1">Доволен</a>
    <a href="{% if likes.happiness_active %}{{ path('make_like', {'task':task, 'type':'happiness', 'val':-1}) }}{% else %}#{% endif %}" class="btn btn-dark m-1">Недоволен</a>
    <br/>
</div>
<br/>

{% endif %}