{% extends 'base.html.twig' %}

{% block title %}
    Новость
    {% if news_task is defined %}
        {{ news_task.publicDate | date('d.m.Y') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-3 sidebar">
        {{ render(controller(
            'App\\Controller\\IndexController::ShowCategoriesAction'
        )) }}
    </div>
    <div class="col-9">
        <h3>Новость</h3>
        {% if message is defined %}
            <p style="color: red">{{ message }}</p>
        {% endif %}
        <div class="news_item_content">
            <div class="info">
                <p class="category"><b>Категория:</b> {{ news_task.category.title }}</p>
                <p class="author"><b>Автор:</b> {{ news_task.author.username }}</p>
                <p class="тэги"><b>Тэги:</b> {% for tag in news_task.tags %}{{ tag.title }}, {% endfor %}</p>
            </div>
            <div class="date">
                <p class="create"><em>Дата создания: {{ news_task.createDate | date('d.m.Y') }}</em></p>
                <p class="public"><em>Дата публикации: {{ news_task.publicDate | date('d.m.Y') }}</em></p>
            </div>
            {% if news_task.fullText is defined %}
                {{ news_task.fullText }}
            {% else %}
            <p>{{ news_task.text }}</p>
            {% endif %}
            {% if user.id is defined %}
                {{ render(controller(
                    'App\\Controller\\IndexController::ShowLikeButtons', {'task':news_task.id}
                )) }}
            {% endif %}
        </div>

        <br/>
        <br/>

        {% if comments is defined %}
            <h4>Комментарии</h4>
            {% for comment in comments %}

               <div class="comment_item">
                    <p class="author"><em>Автор: {{ comment.author }}</em></p>
                    <p class="create_date"><em>Дата создания: {{ comment.createDate | date('d.m.Y') }}</em></p>
                    <p class="comment_text">{{ comment.text }}</p>
                </div>
                <hr/>
            {% endfor %}
            <br/>
            <br/>
        {% endif %}

        {% if user.id is defined %}

            <h4>Добавить комментарий</h4>
            {{ form(form) }}
        {% endif %}
        <br/>
        <br/>

        <div>
            <a href="{{ path('news', {'page':1, 'limit':5}) }}">Назад к списку >></a>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}

