{% extends 'base.html.twig' %}

{% block title %}
    Профиль
{% endblock %}

{% block content %}
    <div class="col">
        <h1>Профиль</h1>

        {% if user.id is defined %}
            <p><b>Имя:</b> {{ user.username }}</p>
            <p><b>Email:</b> {{ user.email }}</p>
            <p><b>Рейтинг:</b> {{ rating }}</p>
        {% endif %}

    </div>
{% endblock %}

