{% if tags is defined %}
    <h4>Тэги</h4>
    <ul>
        {% for tag in tags %}
            <li>
                <a href="{{ path('news_by_tag', {'tag':tag.id}) }}">{{ tag.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}